################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Misho11.1/obj
/.vs
/Misho11.1/bin/Debug/net8.0
